@keyframes floaty-text {
  0% { text-shadow: 0px 2px 5px rgba(0,0,0,0.8); }
  50% { text-shadow: 0px 7px 10px rgba(0,0,0,0.8); }
  100% { text-shadow: 0px 2px 5px rgba(0,0,0,0.8); }
}

main, #main {
  width: 100%;
  height: auto;
  font-family: sans-serif;
}

#nav {
  position: fixed;
  width: 100%;
  height: 20vh;
  top: -10vh;
  transform: rotateX(90deg);
  z-index: 1;
  transition: 0.5s ease-out;
  background: rgba(0,0,0,0.7);
}

#nav-container {
  width: 100%;
  height: 50%;
  margin-top: 10vh;
}

#navigation-links {
  display: inline-block;
  margin: auto;
  float: left;
}

.navlink {
  height: 100%;
  display: inline-block;
  transform: translateY(175%);
  transition: 0.5s;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navlink:hover, .navlink:focus {
  background: rgba(255,255,255,1);
  color: black;
}

#navigation-social {
  display: inline-block;
  float: right;
  color: white;
  margin-right: 1rem;
}

#navigation-social i {
  height: 100%;
  display: inline-block;
  transform: translateY(75%);
  transition: 0.5s;
  color: white;
  text-decoration: none;
  padding: 0px 0.1rem;
}

#navigation-social i:hover, #navigation-social i:focus {
  background: white;
  color: black;
}

section {
  width: 100%;
  height: 100vh;
}

#hero {
  text-align: center;
  position: relative;


	background-image: url('https://static.pexels.com/photos/620337/pexels-photo-620337.jpeg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

}

#hero i {
  display: block;
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: white;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.8);
}

#hero i:hover, #hero i:focus {
  animation: floaty-text 1.3s infinite;
}

.center {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3%;


	background: rgba(0,0,0,0.5);
	box-shadow: 0px 20px 26px rgba(0,0,0,0.7);
	color: white;
	border-radius: 3%;

}

#about {
  position: relative;
  
	background-image: url('https://static.pexels.com/photos/615060/pexels-photo-615060.jpeg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

}

#photo {
  width: 200px;
  height: 200px;
  display: inline-block;
  float: right;
  border-radius: 50%;
  border: solid 5px white; 
  background: url("./img/escanear0001.jpg");
  background-size: cover;
}

#summary {
  display: grid;
}

#portfolio {
  position: relative;
  text-align: center;
  height: 100vh;

	background-image: url('https://images.pexels.com/photos/572938/pexels-photo-572938.jpeg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

}

.fixed-card-a {
  width: 70%;
  height: 70%;
}

.hidden {
  display: none !important;
}

.page {
  display: inline-block;
  position: relative;
  width: 45%;
  height: 50%;
  overflow: hidden;
}

.page h4 {
  margin: 0px;
}

.page-picture {
  height: 75%;
  width: 100%;
}

.prev {
  width: 100%;
  height: 85%;
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.7);
  opacity: 0;
  transition: 0.7s;
}

.prev:hover, .prev:focus {
  opacity: 1;
}

.prev a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: 0.4s;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.prev a:hover, .prev a:focus {
  text-decoration: underline;
}

#more {
  position: relative;

	background-image: url('https://images.pexels.com/photos/240225/pexels-photo-240225.jpeg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

}

#more .center {
  text-align: center;
}

#email-section {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #22CCDD;
  transition: 0.3s;
  margin: auto;
  color: white;
}

#email-section:hover, #email-section:focus {
  color: #22CCDD;
  background: white;
  transform: rotateZ(360deg);
}

#email-section i {
  padding: 14px;
}

#email-section:hover, #email-section:focus {
  background-color: #FFFFFF;
}

#footer {
  width: 100%;
  height: 40vh;
  background: linear-gradient(black 50%, gray 400%);
  text-align: center;
  color: white;
  font-weight: bold;
}

#footer h3 {
  margin: 0px;
}

@media only screen and (max-width: 720px) {

  #photo {
    display: block;
    float: none;
  }

  #portfolio {
    height: 125vh;
  }

  .page {
    display: block;
    width: 100%;
    height: 25%;
    }

  .fixed-card-a {
    height: 85%;
  }

}
