@import url("https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps");
@import url("https://fonts.googleapis.com/css?family=Martel+Sans:300");

body {
	font-family: "Martel Sans";
}

section p {
	color: #888888;
}

#topnav {
	position: fixed;
	width: 100%; 
	height: 10vh;
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	color: #FFFFFF;
	transition: 0.9s;
}

#logo {
	font-weight: bold;
	text-decoration: underline #FFC884;
	font-family: "Bilbo Swash Caps";
	font-size: 2.5em;
}

h1 {
	font-family: "Bilbo Swash Caps";
	font-size: 5em !important;
	color: #FFFFFF;
}

h2 {
	font-family: "Catamaran" !important;
	margin: 0px;
	letter-spacing: 0.2em;
	color: #313131;
}

h2 span {
	font-family: "Bilbo Swash Caps";
	color: #FFC884;
	font-size: 2em;
	letter-spacing: 0px;
}

#top-menu ul {
	list-style-type: none;
	display: flex;
	padding: 0px;
}

#top-menu li {
	padding: 0px 0.4em;
}

#top-menu a {
	color: white;
	text-decoration: none;
}

#top-menu a:hover, #top-menu a:focus {
	text-decoration: underline #FFC884;
}

#main {
	width: 100%;
	height: auto;
}

header {
	width: 100%;
	height: 90vh;
	display: flex !important;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	background: #999999;
}

#hero {
	text-align: center;
	color: #FFFFFF;
}

section {
	width: 100%;
	height: 70vh;
}

.left-a {
	display: flex;
	width: 60%;
	height: 100%;
	float: left;
	background: #F1F1F1;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.right-a {
	display: flex;
	width: 40%;
	height: 100%;
	float: right;
	background: #212121;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.left-b {
	display: flex;
	width: 40%;
	height: 100%;
	float: left;
	background: #212121;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.right-b {
	display: flex;
	width: 60%;
	height: 100%;
	float: right;
	background: #F1F1F1;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

footer {
	width: 100%;
	height: 40vh;
}

#locs {
	display: inline-block;
	height: 75%;
	width: 50%;
	float: left;
	background: #111111;
}

#hours {
	display: inline-block;
	height: 75%;
	width: 50%;
	float: right;
	background: #111111;
}

#annot {
	display: flex;
	width: 100%;
	height: 25%;
	background: #000000;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	color: white;
}

#annot a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#annot a:hover, #annot a:focus {
	text-decoration: underline;
}

@media only screen and (max-width: 720px) {

	.left-a, .right-a, .left-b, .right-b {
		float: none;
		width: 100%;
		height: 50vh;
	}
	
	section {
		height: auto;
	}

}
