.App {
  position: absolute;
  display: flex;
  border: 0px;
  width: 100vw;
  height: 100vh;
  background: #F7F8F9;
  font-family: sans-serif;
  text-align: center;
}

* {
  border-radius: 0.5em;
}

h1 {
  color: #FE5353;
}

#ContainerCard{
  display: flex;
  width: 80vw;
  margin: 20vw auto;
  height: auto;
}

#FormContainer {
  display: inline-flex;
  background: #FFFFFF;
  width: 58.33%;
  height: 100%;
}

#Form {
  display: flex;
  height: 100%
  width: 71.42%;
}

#HeroImage {
  display: inline-flex;
  width: 41.66%;
  height: 100%;
}

.circle {
  display: inline-flex;
  width: 2em;
  height: 2em;
  border: solid 0.1em gray;
  border-radius: 50%;
}

input {
  width: 100%;
  border: 2em 0px;
  border-radius: 0.55em;
  padding: 0.55em;
}